<div class="container text-center">
  <h1 id="programm" class="fs-1">Was wir anbieten</h1>
  <div class="row row-cols-1 row-cols-sm-2">
    <div class="col">
      <div class="card my-3 h-100">
        <img src="assets/img/Gruppentraining_1920_1080.png" class="card-img-top" alt="Gruppentraining">
        <div class="card-body">
          <h5 class="card-title">Gruppentraining</h5>
          <p class="card-text">Entdecken Sie die Power des Gruppentrainings bei LuckyCurves. Unser vielfältiges Angebot bringt Sie in Bewegung, während die Energie der Gruppe Sie motiviert. Starten Sie noch heute – gemeinsam erreichen wir mehr!</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card my-3 h-100">
        <img src="assets/img/Kein_Bild_vohanden_1920_1080.png" class="card-img-top" alt="Einzeltraining" >
        <div class="card-body">
          <h5 class="card-title">Einzeltraining</h5>
          <p class="card-text">Bei LuckyCurves steht Ihr persönliches Fitnessziel im Fokus. Unser Einzeltraining bietet maßgeschneiderte Workouts, abgestimmt auf Ihre Bedürfnisse und Fortschritte. Erleben Sie die volle Aufmerksamkeit unserer Trainer, um Ihre Ziele effektiv zu erreichen. Starten Sie Ihr individuelles Fitnessabenteuer jetzt!</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card my-3 h-100">
        <img src="assets/img/PowerPlate_1920_1080.png" class="card-img-top" alt="PowerPlate">
        <div class="card-body">
          <h5 class="card-title">PowerPlate Training</h5>
          <p class="card-text">Erfahren Sie Fitness in einer neuen Dimension mit unserem PowerPlate-Training bei LuckyCurves. Durch innovative Vibrations-Technologie werden Muskeln aktiviert und gestärkt. Effektiv, zeitsparend und individuell anpassbar – erleben Sie den Kick für Ihren Körper. Starten Sie jetzt und spüren Sie die Power!</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card my-3 h-100">
        <img src="assets/img/Kein_Bild_vohanden_1920_1080.png" class="card-img-top" alt="ProCeA" >
        <div class="card-body">
          <h5 class="card-title">ProCeA</h5>
          <p class="card-text">Zusätzlich bieten wir innovative Radiofrequenz-Hautstraffung, die Ihre Haut verjüngt. Diese nicht-invasive Methode steigert die Kollagenproduktion, reduziert Falten und verleiht Ihrer Haut mehr Strahlkraft.</p>
        </div>
      </div>
    </div>
  </div>
</div>
